<a href="https://colab.research.google.com/github/Linana88/UGA-Dissertation/blob/master/Copy_of_Day_2_Exercise_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 2.0

Consider the following matrix **A**: 
$$
  A = 
  \begin{pmatrix}
    \mathbf{1} & \mathbf{2}\\
    3 & 4\\
    \mathbf{5} & \mathbf{6}
  \end{pmatrix}
$$

1. Create a NumPy array called 'arr' that has the same dimensions as the matrix **A**. Print out 'arr' and the dimensions of 'arr' using the 'shape' function.

2. Retreive rows 1 and 3 from the array and print them out.

In [ ]:
import numpy as np

arr = np.array([[1,2],[3,4],[5,6]])
print(arr)
arr.shape

In [ ]:
# 2

print( arr[2,0:2], arr[0,0:2])

[5 6] [1 2]

## Justin Faucette's Solution

In [ ]:
print('Matrix\n', arr, '\n\nShape', arr.shape,'Line 1',arr[0,],'Line 3',arr[2,])

Matrix
 [[1 2]
 [3 4]
 [5 6]]

Shape (3, 2) Line 1 [1 2] Line 3 [5 6]

## Kagiso More's Solution

In [ ]:
r1 = arr[0, 0:2] #row 1
r3 = arr[2, 0:2] # row 3
print(r1, r3)

[1 2] [5 6]

# [**Exercise 2.1**]

The **Population Reference Bureau** collects international and US data on fertlity, births, deaths and other population issues: https://www.prb.org/data/. 

This data is available directly from GitHub and there are ALOT of datasets available. Here is just a sample from the US alone: https://github.com/datasets/population-reference-bureau/tree/master/data/us.

We will be doing an exercise with US fertility data: https://raw.githubusercontent.com/datasets/population-reference-bureau/master/data/us/fertility/data/us-fertility.csv

1. Import this dataset as a Pandas dataframe called "fertility".
2. For the "Data" variable, calculate:

- the average 
- median and;
- standard deviation

and print each on a new line with the word: 'Average', 'Median' and 'Std. Dev.' right about each.

3.  Using the function ".value_counts()" print out frequency counts of each of the states and each of the years.

In [ ]:
######################################################################
######################################################################
######################################################################
# Place your code here
######################################################################
######################################################################
######################################################################

import pandas as pd

# 1

fertility = pd.read_csv('https://raw.githubusercontent.com/datasets/population-reference-bureau/master/data/us/fertility/data/us-fertility.csv')
fertility.head(10)

    Type  TimeFrame  Data    NameFIPS
0  State       2000  2.02  Alabama 01
1  State       2001  1.94  Alabama 01
2  State       2002  1.88  Alabama 01
3  State       2003  1.92  Alabama 01
4  State       2004  1.91  Alabama 01
5  State       2005  1.93  Alabama 01
6  State       2006  2.03  Alabama 01
7  State       2007  2.07  Alabama 01
8  State       2008  2.06  Alabama 01
9  State       2009  1.96  Alabama 01

In [ ]:
# 2
round(fertility['Data'].mean(), 2)
fertility['Data'].median()
fertility['Data'].describe()

count    936.000000
mean       1.974551
std        0.211957
min        1.420000
25%        1.830000
50%        1.960000
75%        2.110000
max        2.760000
Name: Data, dtype: float64

In [ ]:
# 3
fertility['NameFIPS'].value_counts()
fertility['TimeFrame'].value_counts()

2000    52
2001    52
2016    52
2015    52
2014    52
2013    52
2012    52
2011    52
2010    52
2009    52
2008    52
2007    52
2006    52
2005    52
2004    52
2003    52
2002    52
2017    52
Name: TimeFrame, dtype: int64

In [ ]:
le_female['Value'].describe().round(3) # Rounding to the third decimal place

count    988.000
mean      81.280
std        1.886
min       77.400
25%       79.900
50%       81.100
75%       82.650
max       86.700
Name: Value, dtype: float64

In [ ]:
# Save the results in a new object
le_descriptives = le_female['Value'].describe().round(3)

# Printing the results out
print('Mean \n',le_descriptives[1],'\n', 'Median\n',le_descriptives[4],'\n','Std. Dev.\n',le_descriptives[2]   )

Mean
 81.28
 Median
 79.9
 Std. Dev.
 1.886

# [**Exercise 2.2**]

The **Population Reference Bureau** collects international and US data on fertlity, births, deaths and other population issues: https://www.prb.org/data/. 

This data is available directly from GitHub and there are ALOT of datasets available. Here is just a sample from the US alone: https://github.com/datasets/population-reference-bureau/tree/master/data/us.

We will be doing an exercise with US fertility data: https://raw.githubusercontent.com/datasets/population-reference-bureau/master/data/us/fertility/data/us-fertility.csv

### **Questions**

1.  Using Pandas, import the US fertility dataset as a dataframe and call it "fertility".

3. Calculate average fertility across all states for each year between 2000-2017.

4. Calculate average fertility across all years for each state between 2000-2017.

5. Create a new dataframe called 'southdata' which contains only fertility data from Georgia, South Carolina and Florida and use the "head()" function to print out the first 5 observations of this dataset.

6. Using the 'southdata' dataframe, create a new subset called 'southsubset' which contains only the first 20 rows and the 4th column of the southdata dataframe. 

7. BONUS - download the southdata dataframe to your desktop.

In [ ]:
######################################################################
######################################################################
######################################################################
# Place your code here
######################################################################
######################################################################
######################################################################
import pandas as pd



#1.  Using Pandas, import the US fertility dataset as a dataframe and call it "fertility".
fertility = pd.read_csv('https://raw.githubusercontent.com/datasets/population-reference-bureau/master/data/us/fertility/data/us-fertility.csv')

#2. Calculate average fertility across all states for each year between 2000-2017.
fertility.groupby(['TimeFrame']).mean()

#3. Calculate average fertility across all years for each state between 2000-2017.
fertility.groupby(['NameFIPS']).mean()

#4. Create a new dataframe called 'southdata' which contains only fertility data from Georgia, South Carolina and Florida and 
#use the "head()" function to print out the first 5 observations of this dataset.

southdata = fertility.loc[(fertility['NameFIPS'] == 'Georgia 13') | (fertility['NameFIPS'] == 'South Carolina 45') |(fertility['NameFIPS'] == 'Florida 12') ]
southdata.head()

#5. Using the 'southdata' dataframe, create a new subset called 'southsubset' which contains only the first 20 rows and the 4th column of the southdata dataframe. 

southsubset = southdata.iloc[0:20,3]
southsubset.head()

# Download the southdata dataframe to your desktop
from google.colab import files

southdata.to_csv('southdata.csv')
files.download('southdata.csv')

# [Exercise 2.3]

To be published on Day 3